{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "New Brew Session" %}
{% endblock title %}
{% block content %}
    <h1 class="mb-4">{% translate "New Brew Session" %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="card bg-secondary">
            <div class="card-body">
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">{% translate "Create Session" %}</button>
            </div>
        </div>
    </form>
{% endblock content %}
