{% extends "base.html" %}
{% block meta %}
  {# <meta http-equiv="refresh" content="5"> #}
{% endblock meta %}
{% load static %}
{% block title %}
  Breweries
{% endblock title %}
{% block content %}
  <h1 class="mb-4">Breweries</h1>
  {% for brewery in breweries %}
    <div class="card bg-secondary mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h3>{{ brewery.name }}</h3>
            <small>{{ brewery.slug }}</small>
          </div>
        </div>
        <hr />
        <h5>Controllers</h5>
        {% for controller in brewery.controllers.all %}
          <div class="card bg-dark mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <strong>{{ controller.name }}</strong>
                  <div class="text-muted">{{ controller.mac_address }}</div>
                </div>
                <div>
                  {% if controller.is_online %}
                    <span class="badge bg-success">ONLINE</span>
                  {% else %}
                    <span class="badge bg-danger">OFFLINE</span>
                  {% endif %}
                </div>
              </div>
              <hr />
              <div class="row gap-2">
                {% for sensor in controller.sensors.all %}
                  <div class="p-2 border rounded col-md-3 mb-2">
                    <strong>{{ sensor.name }}</strong>
                    <div>{{ sensor.kind }}</div>
                    <small class="text-muted">{{ sensor.key }}</small>
                    <a href="{% url 'sensor-detail' sensor.id %}"
                       class="btn btn-sm btn-outline-light">View history</a>
                    <hr>
                    {% with latest=sensor.telemetry.first %}
                      {% if latest %}
                        <div class="fs-4">{{ latest.value }} {{ sensor.unit }}</div>
                        <small class="text-muted">{{ latest.created_at }}</small>
                      {% else %}
                        <div class="text-muted">No telemetry</div>
                      {% endif %}
                    {% endwith %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% empty %}
          <div class="text-muted">No controllers</div>
        {% endfor %}
      </div>
    </div>
  {% empty %}
    <div class="alert alert-warning">No breweries registered</div>
  {% endfor %}
{% endblock content %}
